@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
body{
  background: black;
}

h1,h4,p,a{
  color: #ffff;
  text-decoration: none;

}

ul{
  list-style-type: none;
}

.btn{
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background: rgb(243, 243, 50);
  color: rgb(15, 15, 15);
  border: 1px solid white;
  font-weight: 600;
  cursor: pointer;
}

.btn-light{
  background: transparent;
  color: white;
}

.btn:hover{
  background: rgb(115, 128, 35);
  color: white;
  transition: 0.3s;
}

